body{
    font-family: Arial;
    background: #f7f7f7;
    display: grid;
    gap: 60px;
    justify-items: center;
    margin: 0;
}

p{
    font-size: 1.3rem;
    margin: 0;
}

.logo{
    display: grid;
    justify-self: center;
    margin-top: 60px;
}

.foto{
    max-width: 100%;
}

ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

.link{
    text-decoration: none;
    color: black;
    background: white;
    padding: 15px 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 4px;
}

.link:hover{
    border: 2px solid #ee2211;
}

h1{
    margin: 0;
    text-align: right;
    justify-self: end;
    flex-wrap: wrap;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    justify-self: center;
    position: relative;
}

.descricao{
    text-align: right;
    flex-wrap: wrap;
}

.botao{
    text-decoration: none;
    background: #ee2211;
    color: white;
    border-radius: 4px;
    padding: 20px 30px;
    justify-self: end;
    transition: .3s;
}

.botao:hover{
    background-color: #900;
}

.info{
    display: grid;
    gap: 20px;
    place-items: start;
    background: white;
    padding: 40px;
    align-content: center;
    flex-wrap: wrap;
}

.vantagens-titulo-bg{
    color: #c6c6c6;
    padding: 40px;
    display: flex;
    align-items: center;
    background-image: url(./img/onda.svg);
    background-repeat: calc(10);
}

.vantagens-titulo{
    font-size: 4rem;
    line-height: 1;
    text-align: right;
}

.vantagens{
    display: grid;
    background: white;
    padding: 40px;
}

.vantagens .vantagem-bg:nth-child(odd){
    background-color: #f7f7f7;
}

.grid::before{
    content: "";
    height: 4px;
    width: 70px;
    background: #ee2211;
    border-style: none;
    justify-self: center;
    position: absolute;
    top: 40px;
}

.icone{
    grid-column: 1;
}

.vantagem{
    grid-column: 2;
}

.vantagem-bg{
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 30px;
    gap: 10px 20px;
}

.vantagem-bg:hover::before{
    content: "";
    background-color: #ee2211;
    height: 142px;
    width: 4px;
    position: absolute;
}

h2{
    margin: 0;
    font-size: 1.3rem;
}

footer{
    font-size: 1.3rem;
    background: white;
    width: 98vw;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 0px;
}