body{
    font-family: Arial;
    background: #f7f7f7;
    display: grid;
    gap: 3.75rem;
    justify-items: center;
    margin: 0;
}

header{
    display: grid;
    justify-content: center;
    gap: 3.75rem;
}

p{
    font-size: 1.3rem;
    margin: 0;
}

.logo{
    display: grid;
    justify-self: center;
    margin-top: 3.75rem;
}

.foto{
    max-width: 100%;
}

.foto-bg img{
    height: 100%;
    object-fit: cover;
}

ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 1.25rem;
}

.link{
    text-decoration: none;
    color: black;
    background: white;
    padding: 1rem 2rem;
    border-radius: 4px;
    border: 2px solid transparent;
}

.link:hover{
    border: 2px solid #ee2211;
}

h1{
    margin: 0;
    text-align: right;
    justify-self: end;
    flex-wrap: wrap;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    justify-self: center;
    position: relative;
}

.descricao{
    text-align: right;
    flex-wrap: wrap;
}

.botao{
    text-decoration: none;
    background: #ee2211;
    color: white;
    border-radius: 4px;
    padding: 20px 30px;
    justify-self: end;
    transition: .3s;
}

.botao:hover{
    background-color: #900;
}

.info{
    display: grid;
    gap: 20px;
    place-items: start;
    background: white;
    padding: 2.5rem;
    align-content: center;
    flex-wrap: wrap;
}

.info h1{
    font-size: 2rem;
}

.vantagens-titulo-bg{
    color: #c6c6c6;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    background-image: url(./img/onda.svg);
}

.vantagens-titulo{
    font-size: 4rem;
    line-height: 1;
    text-align: right;
}

.vantagens{
    display: grid;
    background: white;
    padding: 2.5rem;
}

.vantagens .vantagem-bg:nth-child(odd){
    background-color: #f7f7f7;
}

.grid::before{
    content: "";
    height: 4px;
    width: 70px;
    background: #ee2211;
    border-style: none;
    justify-self: center;
    position: absolute;
    top: 2.5rem;
}

.icone{
    grid-column: 1;
}

.vantagem{
    grid-column: 2;
}

.vantagem-bg{
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 30px;
    gap: 10px 20px;
}

.vantagem-bg:hover{
    border-left: 4px solid #ee2211;
}

h2{
    margin: 0;
    font-size: 1.3rem;
}

footer{
    font-size: 1.3rem;
    background: white;
    width: 98vw;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 0px;
}

@media (max-width: 945px) {
    body{
        gap: 30px;
    }

    header{
        gap: 30px;
    }

    .logo{
        margin-top: 30px;
    }

    .link{
        display: block;
    }

    .grid::before{
        display: none;
    }

    .grid{
        grid-template-columns: 1fr;
    }

    .info h1{
        text-align: left;
        justify-self: start;
    }
    
    .descricao{
        max-width: 60ch;
        text-align: left;
    }

    .botao{
        justify-self: start;
    }

    .vantagens-titulo{
        text-align: center;
    }
}

@media (max-width: 480px){
    .vantagens-titulo{
        font-size: 3rem;
    }
}

@media (max-width: 400px){
    .vantagens-titulo{
        font-size: 2rem;
    }
}