.hoje{
    color: darkred;
}

.amanha{
    color: darkblue;
}

a{
    text-decoration: none;
}

h2 a{
    color: seagreen;
}

p{
    font-size: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body{
    font-family: 'Montserrat';
}